:root { 
--white_A700_7f:#ffffff7f; 
--black_900_7f:#0000007f; 
--gray_50_01:#fff9f4; 
--blue_gray_50:#edeff1; 
--gray_900_99:#12121299; 
--blue_gray_100_01:#d9d9d9; 
--gray_500_b2:#a3a5adb2; 
--gray_800_02:#3c3c43; 
--gray_800_01:#413e3e; 
--gray_50:#fff9f4; 
--black_900:#000000; 
--gray_200_01:#f0efeb; 
--black_900_28:#00000028; 
--deep_purple_A100:#b77df7; 
--purple_800:#663278; 
--blue_gray_400_99:#8f8b8a99; 
--deep_orange_100:#fbd0b9; 
--gray_900_02:#1f1e26; 
--lime_200:#eefe99; 
--gray_600:#737373; 
--lime_300:#e2f483; 
--gray_900_03:#222628; 
--lime_400:#d9ef61; 
--gray_500:#979392; 
--blue_gray_100:#d9d9dc; 
--blue_gray_400:#8e8a89; 
--gray_900_66:#2e262466; 
--gray_800:#373d3d; 
--gray_900_01:#121212; 
--gray_900:#1f1e26; 
--black_900_0c:#0000000c; 
--gray_200:#efefed; 
--gray_800_55:#3c3c4355; 
--blue_gray_400_b2:#8f8b8ab2; 
--gray_300:#d9dadd; 
--gray_100:#fdf7f2; 
--gray_100_02:#f4f2f1; 
--gray_100_01:#f4f4f4; 
--white_A700:#ffffff; 
}